// Google fonts
@import url("http://fonts.googleapis.com/css?family=Roboto + Slab|Open + Sans:400italic,
  700italic,
  400,
  700");

// Font Variables
$roboto-slab: "Roboto Slab", serif;
$open-sans: "Open Sans", sans-serif;
$body-font: Helvetica, sans-serif;

// Color Variables
$white-color: #fefefe;
$orange-color: #ad764a;
$green-color: #385d6a;
$black-color: #313733;

// Media queries screen sizes
$break-small: 450px;
$break-medium: 650px;
$break-large: 1200px;
